select { 
  width: 10em;
  background: #E5E4E2;
  border-radius: 12px;
  padding: 3px 7px 3px 3px;
}
.auto-list {
    width: 100%;
    .top {
      width: 100%;
      border-bottom: 2px solid #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  
    @media screen and (max-width: 1000px) {
      .top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
      }
      .search {
        width: 100%;
      }
    }
  }
  
  .amount{
    padding: 0;
  }

  @media (max-width: 1023px) {
    .mobile-filter {
      display:block;
    }
  }

@media (min-width: 1024px) {
  .mobile-filter {
    display:none;
  }
  }

  @media (max-width: 640px) {
    .search-bar{
      margin-top: -3vh;

    }
  }

  @media (max-width: 1023px) {
    .sort-large{
      display: none;
    }
  }