.auto-list {
    width: 100%;
    .top {
      width: 100%;
      border-bottom: 2px solid #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        & > * {
          margin-right: 7px;
          cursor: pointer;
        }
      }

    }
  
    @media screen and (max-width: 800px) {
      .top {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
      }
      .search {
        width: 100%;
      }
    }
  }
  
