.card {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #1974D2;
    margin-bottom: 5px;
  }

  h1{
    font-family: Dancing Script;
    font-size: 1.375rem;
  }
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
  }