.model{
  font-family: Dancing Script;
  font-family: 1.750rem;
}

.price{
  font-size: 1.375rem;
}

#details-icon{
  border-radius: 50%;
  border: 1px solid #1974D2;;
  padding: 8px;
  font-size: 35px;
}

.arrow-icon{
  padding: 0;
  font-size: 1.5rem;
  color: orangered
}