@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.outer{
    min-height:100%;
    display:flex;
}

.inner{ margin: auto; }

.inner-reset{
    margin: auto;
    width:80vw;
}

.card{ 
    -webkit-box-shadow: 10px 10px 5px 0px rgba(153,150,153,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(153,150,153,1);
    box-shadow: 10px 10px 5px 0px rgba(153,150,153,1);
    border-radius: 12px;
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}